# Fabric Gateway Configuration
FABRIC_CHANNEL=ehr-channel
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_PEER_HOST=peer0.hospitala.ehr.com
FABRIC_MSP_ID=HospitalAMSP
FABRIC_CRYPTO_PATH=../fabric-network/organizations/peerOrganizations/hospitala.ehr.com

# IPFS
IPFS_API_URL=/ip4/127.0.0.1/tcp/5001

# JWT
JWT_SECRET=change-this-to-a-random-secret-in-production
JWT_EXPIRES_IN=8h

# Server
PORT=3000
NODE_ENV=development
